#img1
{
height: 80px;
width: 600px;
}

#img2
{
    width: 100px;
    height: 200px;
}

        
nav{
    background-color:rgb(150, 0, 65);
}
.menu{
    list-style: none;
    display:flex;
    justify-content:center;
    padding:1rem 0;
}
.menu li{
    margin:0 1rem;
    position: relative;
}
.menu a{
    color:rgb(252, 248, 248);
}
.menu a:hover{
    color:rgb(22, 94, 239);
}
.submenu-content{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color:rgb(153, 153, 160);
    z-index:1;
}
.submenu:hover .submenu-content{
    display:block;
}




#footer
{
    background-color: rgb(10, 91, 241);
    height: 150px;
}

#follow
{
    color: white;
}

.social
{
    color: white;
}

#copyright
{
    color: white;
}

